:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
}


.header-container {
  background-color: white;
  width: 50%;
  height: 300px;
  border: black solid 1.5px;
  border-radius: 10px;
  margin-top: 10px;
}

.container {
  background-color: white;
  width: 50%;
  height: 300px;
  border: black solid 1.5px;
  border-radius: 10px;
  margin-top: 25px;
}


.detail-summary {
  padding: 20px;
}

.details {
  text-align: center;
}

.profile-pic-container {
  display: flex;
  justify-content: center;
}

.profile-pic {
  border-radius: 10px;
}

.icons {
  height: 35px;
  width: 35px;
}

.icons-cv {
  height: 35px;
  width: 35px;
  border-radius: 5px;
}

.links {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}

.skills-list {
  margin-top: 20px;
}

.heading {
  color: black;
  margin: 2;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: bolder;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  text-align: center;
}

.para-text {
  padding: 0 15px;
}
