@font-face {
    font-family: "Cruyff Sans";
    src: url(../RESOURCES/FONTS/ea-sports-cruyff-sans/CruyffSans-Regular.ttf);
}

body{
    color: white;
    background-color: rgba(21, 22, 22, 1);
    font-family: 'Cruyff Sans', sans-serif;
    margin: 0;
}

.info{
    display: flex;
    align-items: center;
    margin-top: 150px;
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    padding-right: 50px;
    font-size: 80px;
}

p{
    padding-left: 50px;
    font-size: large;
}

ul{
    display: flex;
    padding: 15px;
    margin: 10px;
}

li{
    list-style-type: none;
}

a{
    color: white;
    font-size: xx-large;
    text-decoration: none;
    padding: 5px;
}
